qiskit==0.33.1
jupyterlab==3.0.16
numpy==1.20
matplotlib==3.4.2
seaborn==0.11.1
xlrd==2.0.1
openpyxl==3.0.7
qiskit-finance==0.2.1
PyYAML==5.4.1
pylatexenc==2.10
imblearn==0.0
tensorflow==2.7.0
pennylane==0.19.1
StrawberryFields==0.20.0
xgboost==1.5.0
qiskit-machine-learning==0.2.1
nbimporter==0.3.4
qiskit-ionq==0.1.4
mlxtend==0.20.0
pydotplus==2.0.2